[submodule "native_lib/lib/whisper.cpp"]
	path = native_lib/lib/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "native_lib/lib/ggml"]
	path = native_lib/lib/ggml
	url = https://github.com/ggml-org/ggml.git
